@use 'sass:math';

/*
 * fix "list-style: none;" a11y issue in Safari
 * https://developer.mozilla.org/en-US/docs/Web/CSS/list-style#accessibility_concerns
 */
@mixin accessible-list {
	&::before {
		content: '\200B';
	}
}

@mixin aspect($ratio) {
	&::before {
		content: '';
		display: block;
		width: 100%;
		padding-bottom: math.round(1 / $ratio * 10000) / 10000 * 100%;
	}
}
